button {
  background-color: #2da77a;
  color: white;
  cursor: pointer;
  border-radius: 117px;
  padding: 20px 10px;
  width: 200px;    
  margin: 10px;    
  border: #FFF;
  font-weight: 700;
  font-size: 1em;
}