body {
  font-family: Montserrat;
  background-color: #E8F9F3;
}

input[type="file"] {
  display: none;
}

label {
  padding: 20px 10px;
  width: 200px;    
  background-color: #2da77a;    
  color: #FFF;    
  text-transform: uppercase;    
  text-align: center;    
  display: block;    
  justify-content: center;
  margin: 10px;    
  cursor: pointer;
  border-radius: 117px;
  font-weight: 700;
}

.main-container {
  text-align: center;
  width: 80%;
  align-content: center;
  margin-left: 10%;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}